.main {
    position: fixed;
    width: 100vw;
    max-width: 800px;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    background-color: #536349;
    .title {
        position: relative;
        width: 100px;
        height: 50px;
        font-size: 30px;
        text-align: center;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }
    .container {
        position: relative;
        width: 80%;
        height: 400px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        border-radius: 12px;
        background-color: white;
        .semi.title{
            color: black;
        }
        .item {
            position: relative;
            width: 80%;
            height: 75px;
            transform: translateX(-50%);
            left: 50%;
            border: 1px solid red;
        }
    }
}
