.item {
    position: relative;
    margin-top: 12px;
    left: 55px;
    color: #000000;
    font-size: 15px;
    width: 300px;
    height: 22px;
    line-height: 1.67;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item:first-child {
    margin-top: 57px;
}
.mycontainer {
    position: relative;
    margin-top: 18px;
    box-sizing: border-box;
    width: 80%;
    padding: 15px 19px;
    transform: translateX(-50%);
    left: 50%;
    background-color: rgba(240, 243, 247, 0.17);
    border-radius: 12px;
    box-shadow: 3px 2px 12px 0 rgba(0, 0, 0, 0.16);
    .isSend{
        position: relative;
        text-align: end;
        font-size: 15px;
        color: #505050;
    }
    .true {
        color: black;
    }
}